@model IEnumerable<PPCRental_Upstairs.Models.PROPERTY>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<h1>List of Project</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
    
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Avatar</th>                  
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Avatar</th>   
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr >
                            <td>
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td>
                                <img src="~/Images/@item.Avatar" alt="..." width="200px">
                            </td>
                            @*<td>
                                <img src="~/Images/@item.Images" alt="...">
                                @Html.DisplayFor(modelItem => item.Images)
                            </td>*@
                            @*<td>
                                @item.Content.Substring(0, 100)
                                @Html.DisplayFor(modelItem => item.Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>*@
                            @*<td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BedRoom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BathRoom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PackingPlace)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Create_post)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Note)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated_at)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DISTRICT.DistrictName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PROJECT_STATUS.Status_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PROPERTY_TYPE.CodeType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STREET.StreetName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.USER.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.USER1.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WARD.WardName)
                            </td>*@
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
    @*<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>*@
</div>
        

